div {
  float: left;
  padding: 15px;
}

.div1 {
  width: 200px;
  height: 200px;
  background-image: url(./image/bird.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.div2 {
  width: 100px;
  height: 100px;
  background-image: url(./image/cursor.png);
  background-size: contain;
  background-repeat: no-repeat;
}
