body {
  background-image: url(image/wall2.jpg);
}
div {
  float: left;
  padding: 15px;
}

.div1 {
  width: 200px;
  height: 200px;
  background-image: url(./image/bird.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  animation: birdmove 5s infinite;
}

.div2 {
  width: 100px;
  height: 100px;
  background-image: url(./image/cursor.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  animation: coursormove 5s infinite;
}

@keyframes birdmove {
  0% {
    top: 0px;
    left: 100px;
  }
  25% {
    top: 500px;
    left: 100px;
  }
  50% {
    top: 500px;
    left: 1000px;
  }
  75% {
    top: 0px;
    left: 1000px;
  }
  100% {
    top: 0px;
    left: 100px;
  }
}
@keyframes coursormove {
  0% {
    top: 0px;
    left: 900px;
  }
  25% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 500px;
    left: 0px;
  }
  75% {
    top: 500px;
    left: 900px;
  }
  100% {
    top: 0px;
    left: 900px;
  }
}
